.container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.text_box {
    width: 500px;
    height: 100px;
    margin : 30px;
    padding: 10px;
    border-radius: 35%;
    background-color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    
}

#greeting_image{
    display: inline-block;
    margin: 25px 25px;
    width: 300px;
    height: 300px;
    vertical-align: middle;
}
#button-box{
    width: 100%;
    display: inline-block;
}
#script-button{
        float: right;
        width: max-content;
        height: 100px; 
        line-height:40px; 
        border: 3px solid var(--orange);
        background-color: var(--background-color);
        border-radius: 15px;
        margin:15px 30px;
        font-size: larger;
        text-align:center; 
        cursor: pointer;  
        transition:all 0.9s, color 0.3;  
}
