.container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}
.text_box {
    width: 500px;
    height: 100px;
    margin : 30px;
    margin-bottom: 0px;
    padding: 10px;
    border-radius: 35%;
    background-color: white;
}
.triangle{
    width: 0px;
    height: 0px;
    border-top: 24px solid white;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}
#greeting_text{
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    margin-top: 40px;
}
#greeting_image{
    display: inline-block;
    margin: 25px 25px;
    width: 300px;
    height: 300px;
    vertical-align: middle;
}

