#intro-page {
    text-align: center;
    align-items: center;
}
#dev-box{
    margin-bottom: 30px;
    text-align: center;

}

#dev{
    
    line-height: 40px;
    list-style: none;
    font-size: large;
    font-weight: 600;
    
}

 input#nickname {
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding: 0 10px;
    margin-right: 20px;
    border: 3px solid yellowgreen;
    border-style: dashed;
    border-radius: 15px;
 }

 #start-button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: white;
    border: 3px solid yellowgreen;
    border-style: dashed;
    border-radius: 15px;
    margin:15px 30px;
    font-size: larger;
    text-align:center; 
    cursor: pointer;  
    color: black;
    transition:all 0.9s, color 0.3;  
 }

 #start-button:hover{
    background-color: yellowgreen;
    color: white;
    font-weight: 600;
    transform: scale(1.2);
}

#start-button:active{
    transform: scale(1.5);
    color: var(--dark-blue);
}