#main-page {
    text-align: center;
    align-items: center;
    background-color: var(--background-color);
}

button.quiz-item {
    display: inline-block;
    width: 15%;
    height: 120px;
    vertical-align: middle;
    margin: 35px 25px;
    padding: 20px;
    font-family: Montserrat;
    font-size: 16px;
    color: white;
    background-color: var(--blue);
    border-radius: 20px;
    border: none;
    font-weight: bold;
    line-height: 1.5em;
}

button.quiz-item:hover {
    background-color: var(--dark-blue);
    transform: scale(1.2);
}

.score-box {
    /* display: inline-block; */
    border: solid 1px black;
    margin-top: 20px;
    padding: 10px;
    width: 50%;
    line-height: 1.5em;
}

#main-page .score-box {
    position: absolute;
    right: 5%;
    bottom: 50%;
}