#score-page {

    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
}

.left-panel {
    display: inline-block;
    width: 30%;
}

.right-panel {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

#score-page .score-box {
    margin: 50px;
    padding: 30px;
    width: 50%;
}

#score-page table {
    width: 100%;
    max-width: 400px;
    border: dashed 3px yellowgreen;
    border-radius: 15px;
    background-color: white;
    padding: 20px;
    line-height: 3em;
    font-size: larger;
    position: relative;
    left: 50%;
    margin-top: 100px;
    transform: translateX(-50%);
}